.my-custom-class .vertical-timeline-element-content.is-hidden {
    display: block !important;
    visibility: visible;  /* or any style to make it visible */
}
.line-class .vertical-timeline-element-icon.is-hidden {
    display: block !important;
    visibility: visible; 
    background-color: #fff; 
    z-index: -1,
}

.vertical-timeline::before {
    background: #e7e7e7;
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
    content: '';
    position: absolute;
    z-index: -1;
}

.dark .line-class .vertical-timeline-element-icon.is-hidden  {
    background-color: #373737;
    z-index: 999;
} 
