.my-custom-class .vertical-timeline-element-content.is-hidden {
    display: block !important;
    visibility: visible;
}

.line-class .vertical-timeline-element-icon.is-hidden {
    display: block !important;
    visibility: visible; 
    background-color: #fff; 
    border: 1px solid #d5d5d8;  
    z-index: 999;
    overflow: hidden;  
}

.line-class .vertical-timeline-element-icon {
    z-index: 1000 !important; 
    border: 1px solid #e4e4e7; 
}

.vertical-timeline::before {
    background: #e4e4e7;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    content: '';
    position: absolute;
    z-index: 999; // This keeps the line just below the icons.
}
// .dark .line-class .vertical-timeline-element-icon.is-hidden  {
//     background-color: #373737;
//     z-index: 999;
// } 
