.my-custom-class .vertical-timeline-element-content.is-hidden {
    display: block !important;
    visibility: visible;  /* or any style to make it visible */
}
.line-class .vertical-timeline-element-icon.is-hidden {
    display: block !important;
    visibility: visible; 
    color: "red";
    z-index: -1,
}

.vertical-timeline::before {
    background: #cfcfcf;
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
    content: '';
    position: absolute;
    z-index: -1;
}

.dark .vertical-timeline::before {
    background: #f9f9f9;
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
    content: '';
    position: absolute;
    z-index: -1;
} 